#chat {
    
    
    width: 70%;
    margin: 10px 15% 30% auto;
    border: 2px solid;
    height: 90%;
    top: 0;
    overflow-y: scroll;
    
}
#chatPage{
    display: none;
    height: 100%;
    
}
#messageText {
    position: absolute;
    top: 92%;
    left:15%;
    right: 25%;
    bottom: 0%;
    width:  50%;
    
    height: 5%;
    border: 5px ;
}
#SendMessage
{
    position: absolute;
    top: 92%;
    left:66%;
    right: 3%;
    bottom: 0%;
    height: 5%;
    width:  9%;
}
#logOut
{
    position: absolute;
    top: 92%;
    left:76%;
    right: 15%;
    bottom: 0%;
    height: 5%;
    width:  9%;
}
#userName {
    display: block;
    width: 30%;
    margin: 10px;
    border: 3px ;
    
}
#choose{
    
    display:block;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -125px 0 0 -125px;
}
#signIn{
    width: 250px;
    height: 100px;
}
#signUp{
    width: 250px;
    height: 100px;
}

body {
    height: 100%;
        
}

html {
    height: 100%
   
}


body {
    background-image: url('https://ak5.picdn.net/shutterstock/videos/10872695/thumb/1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 900;

}

legend {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 900;
}

#reg {
    float: right;
}

#Registercontainer {
    display: none;
    max-width: 700px;
    min-width: 320px;
    width: 100%;
    margin: 70px auto;
    border: 2px solid;
    height: 353px;
    top: 0;
    padding: 15px;
}
#LogInContainer{
    display: none;

}
#confirmCode{
    display: none;
}
